*{
  margin: 0%auto;
  padding: 0%;
  background-color: black;
  color: white;
}
hr{
    
    border-top-color: blueviolet;
    border-bottom: 0ch;
    border-width: 1ch;
    padding: 0%;
    border-right-width: 0ch;
    border-left-width: 0ch;
}
    

h1{
    text-align: center;
    width: 100%;
    background-size: cover;
}
a{
    margin-left: 2%;
    
}
.encabezado{
    
    text-align: left;
    font-family: 'Anton', sans-serif;
    }
    .separacion{
        
        margin: 1%;
    }
.imagencentrada{
    text-align: center;
    padding: 1%;
    }
.primer_imagen{
    
    
    border-color: blueviolet;

}
.imagen_linea{
position: relative;
text-align: center;
border-color: blueviolet;
border-style: solid;
border-radius: 2%;
margin: 0% 17%;
padding: 0%;
background-color: blueviolet;

}
.margenes{
    margin: 0px 1px;
    padding: 0%;
}
/* dejo los links de las fuentes para que los usen donde quieran 
font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Merriweather', serif;
*/