*{
  margin: 0%auto;
  padding: 0%;
  background-color: black;
  color: white;
}
hr{
    
    border-top-color: blueviolet;
    border-bottom: 0ch;
    border-width: 1ch;
    padding: 0%;
    border-right-width: 0ch;
    border-left-width: 0ch;
}
    

h1{
    text-align: center;
    width: 100%;
    background-size: cover;
}
a{
    margin-left: 2%;
    
}
.encabezado{
    
    text-align: right;
    font-family: 'Anton', sans-serif;
    }
    .separacion{
        
        margin: 1%;
    }
.imagencentrada{
    text-align: center;
    padding: 1%;
    }
.primer_imagen{
    
    
    border-color: blueviolet;

}
.imagen_linea{
position: relative;
text-align: center;
border-color: blueviolet;
border-style: solid;
border-radius: 2%;
margin: 0% 17%;
padding: 0%;
background-color: blueviolet;

}
.margenes{
    margin: 0px 1px;
    padding: 0%;
}
/* dejo los links de las fuentes para que los usen donde quieran 
font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Merriweather', serif;
*/

/* ACA EMPIEZA CATALOGO */

.div_catalogo{
    position: relative;
    overflow-x: scroll;
    padding: 0%;
    margin: 0% 0%;
    width: 100% ;
    height: 100%;
    display: flex;
    
}

.imagen_catalogo{
    padding: 0% 2% 0%;
    width: 15%;
    height: 100%;
    margin: 0% 0% 0%; 
     
}

.linea_color{
    border-top-color: rgb(170, 0, 248);
    border-bottom-color: rgb(251, 255, 0);
    border-style: double;
    padding: 0%;
    border-right-width: 0ch;
    border-left-width: 0ch;
}
.letra_catalogo{
    position: relative;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}
.ultimo_div_catalogo{
    position: relative;
    width: 1820px ;
    height: 500px;
    text-align: center;
}
.boton_enviar{
    border: 3px solid chartreuse ;
    background-color: purple;
    width: 100px;
    
}
.textarea{
    border: 5px solid rgb(255, 251, 2);
    background-color: rgba(1, 6, 77, 0.301);
    width: 1820px;
    font-size: xx-large;
}
.parrafo_recomendacion{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.encabezado_fijo{
    position: fixed;
    width: 100%;
    height: 18%;
  z-index: 1;
  border-bottom-color: rgb(170, 0, 248);
    border-style: double;
}
/*
aca termina el catalogo
*/