<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto_Cine</title>
    <link rel="stylesheet" href="../../estilos/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./imagenes/icono estrella.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="contenedorHamburguesa">
            <input type="checkbox" id="menu-check">
            <label id="menu" for="menu-check">
                <span id="menu-abrir">&#9776;</span>
                <span id="menu-cerrar">⛧</span>
            </label>
            <div class="logoResponsivo">
                <a href="./index.html" class="logo"><img src="../../imagenes/logo png.png" width="60px">
                    <p class="tituloHeader">Proyecto⛧cine</p>
                </a>
            </div>

            <nav>

                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="catalogo.html">Catalogo</a></li>
                    <li><a href="registro.html">Registro</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="nosotros.html">Favoritos</a></li>

                </ul>

            </nav>


        </div>



    </header>
    <span class="linea"></span>
    <br>
    <main>
        <h1 class="h1Favoritos" id="anclaje">¡Tus favoritos!</h1>
        <button class="anclaFooter fondoNosotros"> 
            <a href="#footer">Ir al Fondo</a>
            </button>
    <div class="containerInvertido" id="app">
            <section v-if="errored">
             <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente mas tarde</p>
            </section>
            <section v-else>
                <div v-if="loading">Cargando....
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div v-else>
                    <div class="containerInvertido">
                        <div v-for="favorito of favoritos">
                            <div class="tarjetaInvertida fondoNosotros linea1">
                                
                                
                                    <div>
                                        <div>
                                            <h4 class="numeroDeId">{{favorito.id}}</h4>
                                        </div>
                                        <img :src="favorito.img" :alt="" class="imagenFavoritos">
                                    </div>
                                    <div>
                                        <h5 class="nombrePeliculaFavoritos">{{favorito.nombre}}</h5>
                                        <div class="estrellas">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                    </div>
                            <div class="flex-columna">
                                    <button class="botonFavoritos">
                                        <a href="#anclaje">
                                      <p>Volver al inicio</p>
                                  </a></p>
                                  </button>

                                <div v-show="false">
                                    <button id="show-modal" @click="showModal = true">Show Modal</button>
                                        
                                    <div>
                                        <h1>Proyecto⛧cine</h1>
                      
                                                <div>
                                                    <label for="txtNombre">Nombre</label>
                                                    <input type="text" class="form-control" name="txtNombre" id="txtNombre">
                                                </div>
                                                <div>
                                                    <label for="txtValoracion">Valoracion</label>
                                                    <input type="number" class="form-control" name="txtValoracion" id="txtValoracion"> 
                                                </div>
                                                <div>
                                                    <label for="txtImg">Imagen(URL)</label>
                                                    <input type="text" class="form-control" name="txtImg" id="txtImg"> 
                                                </div>
                                                    <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>       
                                        </div>
                                </div>
                            
                                    <button v-on:click="eliminar(favorito.id)" class="botonFavoritos"><i class="fa-solid fa-trash"></i></i></button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
        

    <div align="center"><button class="btn" id="btn-abrir-modal">Añadir favorito!</button></div>
    <dialog class="fondoNosotros" id="modal">
    <div>
        <h1>Proyecto⛧cine</h1>
        <form>      
        <div>
                <label for="txtNombre">Nombre</label>
                <br>
                <input type="text" class="form-control" name="txtNombre" id="txtNombre"><br>
            </div>
            <div>
                <label for="txtValoracion">Valoracion</label><br>
                <input type="number" class="form-control" name="txtValoracion" id="txtValoracion"> <br>
            </div>
            
            <div>
                <label for="txtImg">Imagen(URL)</label><br>
                <input type="text" class="form-control" name="txtImg" id="txtImg"> <br>
            </div>
            <button type="button" class="btn btn-success" onclick="guardar()">Grabar</button>
            <button class="btn" id="btn-cerrar-modal">Cerrar</button>
           
        </form>
        <br>

    </div>
</dialog>
            </section>
            <footer class="fondoFooter" id="footer">
                <div class="contenedor">
                    <h3 class="titulo-seccion">Contacta con Nosotros</h3>
                </div>
                <div class="redes-sociales">
                    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/TomateDes" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <br>
                <div>
                    <p class="copy">2022 Isma-Nico-Eze / Todos los derechos reservados</p>
                </div>
                <br>
                <br>
        
            </footer>
        </main>
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/create.js"></script>
    <script src="./js/favoritos.js"></script>
    <!-- <script src="./js/update.js"></script> -->
</body>
</html>
                                